body{
    text-align: center;
    background-color:rgb(14, 196, 120) ;
    font-family: 'Quicksand', sans-serif;
}
#inicio{
    background:linear-gradient(rgb(25, 211, 87) 0%, rgba(10, 253, 233, 0.863) 100%);
    width: 100%;
    display: table;
    padding: 100px 0;
    font-family: 'Quicksand', sans-serif;

}
#menu{
    list-style:none;
    text-align:center;
    width:90%;
    margin:0px;
    font-family: 'Quicksand', sans-serif;
}
.item a{
    text-decoration:none;
    color:aqua;
    width:70%;
}
#contato a{
    text-decoration:none;
    color:rgb(18, 180, 45);
    padding:10px;
    font-weight:300px;
}
#contato a:hover{
background-color:aquamarine;
}